In [2]:
import numpy as np
import pandas as pd

In [3]:
df_cars = pd.read_csv("C:\\Users\\akash\\Downloads\\cars_dataset.csv")

In [4]:
df_cars.head()

,car_ID,symboling,carname,doornumber,carbody,enginelocation,wheelbase,carlength,carwidth,carheight,...,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,two,convertible,front,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,two,convertible,front,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,two,hatchback,front,94.5,171.2,65.5,52.4,...,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,four,sedan,front,99.8,176.6,66.2,54.3,...,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,four,sedan,front,99.4,176.6,66.4,54.3,...,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0

In [5]:
df_cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            147 non-null    int64
 1   symboling         147 non-null    int64
 2   carname           147 non-null    object
 3   doornumber        147 non-null    object
 4   carbody           147 non-null    object
 5   enginelocation    147 non-null    object
 6   wheelbase         147 non-null    float64
 7   carlength         147 non-null    float64
 8   carwidth          147 non-null    float64
 9   carheight         147 non-null    float64
 10  curbweight        147 non-null    int64
 11  cylindernumber    147 non-null    object
 12  enginesize        147 non-null    int64
 13  boreratio         147 non-null    float64
 14  stroke            147 non-null    float64
 15  compressionratio  147 non-null    float64
 16  horsepower        147 non-null    int64
 17  peakrpm           147 non-null    int64
 18  citympg           147 non-null    int64
 19  highwaympg        147 non-null    int64
 20  price             147 non-null    float64
dtypes: float64(8), int64(8), object(5)
memory usage: 24.2+ KB

In [6]:
df_cars.shape

(147, 21)

In [7]:
df_cars.size

3087

In [8]:
df_cars.ndim

2

In [9]:
df_cars.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000
mean,96.530612,0.931973,98.087755,172.873469,65.710884,53.664626,2527.469388,126.523810,3.303469,3.266599,10.255238,102.734694,5157.823129,25.537415,31.047619,13248.402497
std,60.034386,1.225639,6.108257,12.835948,2.185448,2.564879,555.939552,46.137575,0.272921,0.282661,4.051558,39.467227,476.132417,6.928472,7.326377,8694.473053
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.680000,2.360000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,44.500000,0.000000,94.500000,165.300000,63.900000,51.600000,2045.000000,97.000000,3.050000,3.135000,8.600000,69.000000,4800.000000,19.500000,25.000000,7429.000000
50%,94.000000,1.000000,96.500000,171.700000,65.400000,53.700000,2380.000000,110.000000,3.270000,3.270000,9.000000,95.000000,5200.000000,25.000000,30.000000,9895.000000
75%,146.500000,2.000000,100.400000,180.200000,66.500000,55.650000,2911.000000,143.000000,3.580000,3.400000,9.400000,116.000000,5500.000000,31.000000,37.000000,16207.500000
max,204.000000,3.000000,120.900000,208.100000,72.000000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000

# How to access carname column

In [10]:
df_cars.carname

0            alfa-romero giulia
1           alfa-romero stelvio
2      alfa-romero Quadrifoglio
3                   audi 100 ls
4                    audi 100ls
                 ...
142                 volvo 244dl
143                   volvo 245
144                 volvo 264gl
145                volvo diesel
146                   volvo 246
Name: carname, Length: 147, dtype: object

In [11]:
df_cars['carname']

0            alfa-romero giulia
1           alfa-romero stelvio
2      alfa-romero Quadrifoglio
3                   audi 100 ls
4                    audi 100ls
                 ...
142                 volvo 244dl
143                   volvo 245
144                 volvo 264gl
145                volvo diesel
146                   volvo 246
Name: carname, Length: 147, dtype: object

In [12]:
df_cars.get('carname')

0            alfa-romero giulia
1           alfa-romero stelvio
2      alfa-romero Quadrifoglio
3                   audi 100 ls
4                    audi 100ls
                 ...
142                 volvo 244dl
143                   volvo 245
144                 volvo 264gl
145                volvo diesel
146                   volvo 246
Name: carname, Length: 147, dtype: object

# How to access multiple columns

In [14]:
df_cars[['carname','price']]

                      carname    price
0          alfa-romero giulia  13495.0
1         alfa-romero stelvio  16500.0
2    alfa-romero Quadrifoglio  16500.0
3                 audi 100 ls  13950.0
4                  audi 100ls  17450.0
..                        ...      ...
142               volvo 244dl  15985.0
143                 volvo 245  16515.0
144               volvo 264gl  18420.0
145              volvo diesel  18950.0
146                 volvo 246  22470.0

[147 rows x 2 columns]